<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h4>Add Title</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <form action="/admin/title/process-add" method="POST">
                <div class="form-group">
                  <label for="nametitle">Name Title</label>
                  <input type="text" class="form-control" id="nametitle" name="nametitle">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>