<nav class="navbar navbar-light bg-light">
    <a href="#" class="navbar-brand"><h3>Manager Student</h3></a>
    <div >
        <h5 class="d-inline">Xin chào <b><%=username%></b></h5>
        <a href="/logout"><button class="btn btn-danger btn-lg">Sing Out</button></a>
    </div>
    
</nav>