<div class="row">
    <div class="col-xm-12 col-md-8 col-lg-8">
        <ul class="nav nav-pills ">
            <li class="nav-item">
                <a href="/add" class="nav-link">Add Student</a>
            </li>
            <li class="nav-item">
                <a href="/sort/student" class="nav-link ">Sort Student</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link ">List Students</a>
            </li>
        </ul>
    </div>
    <div class="col-xm-12 col-md-4 col-lg-4 ">
        <form action="/find/student" method="POST" class="form-inline menu">
            <input name="id" id="id" type="text" class="form-control" placeholder="ID Student">
            <button type="submit" class="btn btn-light"><ion-icon name="search-outline"></ion-icon></button>
        </form>
    </div>
</div>
