<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/ckeditor/ckeditor.js"></script>
    <title>Document</title>
</head>
<body>
    <textarea name="editor" id="editor" cols="30" rows="10">

    </textarea>

    <script>
         CKEDITOR.replace('editor',{
            // removePlugins: 'easyimage',
            filebrowserBrowseUrl: '/browser',
            filebrowserUploadUrl: '/uploader'
         });
    </script>
</body>
</html>