/* .container-fluid{
    background: red;
} */

.input-name{
    margin-top: 10px;
}

.list-todo .button-group{
    float: right;
}

.done{
    text-decoration: line-through;
}

.list-group-item{
    font-size: 25px;
    font-weight: bold;
}