<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row title justify-content-center align-items-center">
            <div class="col-lg-4 col-md-4 col-xm-12">
                <h2 class="align-middle d-block text-center">Blog admin login</h2>
            </div>
        </div>

        <div class="row form justify-content-center align-items-center">
            <div class="col-lg-4 col-md-4 col-xm-12">
                <form action="/admin/index/login" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="UserName">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Password">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-lg mx-auto" type="submit">Login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>

</html>