<header class="header" id="myHeader">
    <nav class="navbar navbar-secondary bg-secondary">
        <a href="/" class="navbar-brand">
            Noob Boy Blogger
        </a>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</header>

<section class="category bg-light">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a href="/html" class="nav-link active"><b>HTML</b></a>
        </li>
        <li class="nav-item">
            <a href="/css" class="nav-link"><b>CSS</b></a>
        </li>
        <li class="nav-item">
            <a href="/javascript" class="nav-link"><b>Javascript</b></a>
        </li>
        <li class="nav-item">
            <a href="/nodejs" class="nav-link"><b>Nodejs</b></a>
        </li>
        <li class="nav-item">
            <a href="/mongodb" class="nav-link"><b>Mongodb</b></a>
        </li>
    </ul>
</section>